@font-face {
  font-family: 'indv-mkt-icons';
  src: url('font/indv-mkt-icons.eot?32too');
  src: url('font/indv-mkt-icons.eot?32too#iefix') format('embedded-opentype'),
    url('font/indv-mkt-icons.ttf?32too') format('truetype'),
    url('font/indv-mkt-icons.woff?32too') format('woff'),
    url('font/indv-mkt-icons.svg?32too#indv-mkt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
