@font-face {
  font-family: 'SourceSansPro-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('font/SourceSansPro-Regular.otf.woff') format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('font/SourceSansPro-Bold.otf.woff') format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Light';
  font-style: normal;
  font-weight: normal;
  src: url('font/SourceSansPro-Light.otf.woff') format('woff');
}
